files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/apache-selfsigned.crt;
        ssl_certificate_key /etc/pki/tls/private/apache-selfsigned.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/apache-selfsigned.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEGTCCAwGgAwIBAgIUJZXLEouYsPp84yjicMBy7RRH6HswDQYJKoZIhvcNAQEL
      BQAwgZsxCzAJBgNVBAYTAlRUMRYwFAYDVQQIDA1Qb3J0LU9mLVNwYWluMRYwFAYD
      VQQHDA1Qb3J0LU9mLVNwYWluMRUwEwYDVQQKDAxXaGF0IFR1aCBFYXQxDDAKBgNV
      BAsMA3d0ZTEPMA0GA1UEAwwGYW1hem9uMSYwJAYJKoZIhvcNAQkBFhdrYWxlbW1h
      bGVrMTIzQGdtYWlsLmNvbTAeFw0yMzA2MjUyMzU1NDJaFw0yNDA2MjQyMzU1NDJa
      MIGbMQswCQYDVQQGEwJUVDEWMBQGA1UECAwNUG9ydC1PZi1TcGFpbjEWMBQGA1UE
      BwwNUG9ydC1PZi1TcGFpbjEVMBMGA1UECgwMV2hhdCBUdWggRWF0MQwwCgYDVQQL
      DAN3dGUxDzANBgNVBAMMBmFtYXpvbjEmMCQGCSqGSIb3DQEJARYXa2FsZW1tYWxl
      azEyM0BnbWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC5
      Af27s7J5RxqLVaD3UgXV5GxHn5zHel9Xjf77CP7b6Rl2s2Eyl5wtvTEPzOVP8f5S
      wqRG2di0OZh45/SLIY7Nsv0JtpfRhT3kQMNtL9V0C2lK8x8eoau2+/zHatXJ2DRa
      zxGrZZ5leG3NzKNUQU3Z9lrxllqNx0zbi3UgCOvUZadeVKNsIzJt2+/6iPZg5g+4
      /LP4Jabo3P1ImvuH2feh96REnBi4FXD6ouvTMiMd31es14LX7JiSX7lfVzWm5yaX
      +KBc5uqizLw9/rhN7Ql7L1kxKwEhPKshwZutBk8QAe4UXI64EidRmwnnPB0y7oky
      3s9IQHuG2L4wUkuGc8yrAgMBAAGjUzBRMB0GA1UdDgQWBBS2j2aXVHqb4t2XjMJH
      Qe6BYKL/hDAfBgNVHSMEGDAWgBS2j2aXVHqb4t2XjMJHQe6BYKL/hDAPBgNVHRMB
      Af8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQC4Z1uMV4qs3eIMJK0k97Gu98lK
      cqq+fPbVLtkOei9egbiPlkjFN7+oEih5FqWYsbfteJ2FBuU6Y5K4ZKRuQ2s86NEW
      geuXmjd8zfWbzNJrpMMLdeVbT+7bzw0ybSqbkiBR3zU3tBY9qrtZLy/NzPBA6anr
      bnz4r6b1E+J9aLazoWpGsnGSkpP2M+RbjS9uyM9+TquCAul2ct7ybosxe3Th/5ur
      Vt9aR8/iiSiCfs5G2JZgo9M3Pa3hxCCidWwc9tt3XzD3IioyrbSN1gcZUHKSFu1K
      dsWaf9RrsJw0NsxKiF1wsNfUJdbrzVjcGOOHP4MqbHTJRfFBoK0QQfUf3GKR
      -----END CERTIFICATE-----
      
  /etc/pki/tls/private/apache-selfsigned.key:
    mode: "000400"
    owner: root
    group: root
    content: |
     -----BEGIN PRIVATE KEY-----
     MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC5Af27s7J5RxqL
     VaD3UgXV5GxHn5zHel9Xjf77CP7b6Rl2s2Eyl5wtvTEPzOVP8f5SwqRG2di0OZh4
     5/SLIY7Nsv0JtpfRhT3kQMNtL9V0C2lK8x8eoau2+/zHatXJ2DRazxGrZZ5leG3N
     zKNUQU3Z9lrxllqNx0zbi3UgCOvUZadeVKNsIzJt2+/6iPZg5g+4/LP4Jabo3P1I
     mvuH2feh96REnBi4FXD6ouvTMiMd31es14LX7JiSX7lfVzWm5yaX+KBc5uqizLw9
     /rhN7Ql7L1kxKwEhPKshwZutBk8QAe4UXI64EidRmwnnPB0y7oky3s9IQHuG2L4w
     UkuGc8yrAgMBAAECggEAEGqA0GfAumPFkzKx6cAf2Tul7/6igE2REC/LvdkUF2dQ
     ZYJdNlc4xt/QVQ3IezBTcZYb0lczx11YJ8JNP9szOxInkCkUWsVvGUXPd9Mt8yVG
     eB2o8T4SaO/LHXBfyZBwDm65RQzrSFp7Q8hlf1OcGNV0FGO6MHWZK3hTmD5/NOvF
     4+2hMyaq+tLp3tD9uUZhWRffo2m0zRnDcXa+G/p60r8M2VzUw6lyPFhkdFb2SsQD
     sYXRQiwh63KBizpV3CrWSPcwqH6vG11Cp4A4ApgUNYfBXD01aGnYCHhx0eI9CwN1
     r2GjRj8fpkRyL49DNiIlZYZ5ZscD+XMvYbNNO6AsoQKBgQC5bEEN3SBHkEi4hvaU
     FljH5chh6G0FqWKAjWgnsPQy7CoedS/Mt+u87NRNX8O2ifDNGmdDr18q2t5/bCW3
     XrCYmI/Hsp6FXmbwGZeRRT5on7Cp0VLleRaGABzvkjWZuoCKNDyRfPjiJHHBraxF
     LDTixkKn9QMzNdYWuL7dwYfv5wKBgQD/bUpVdm9dnFacancZ9ZDu9TTaEdh1IxXh
     ax9D2prOhGpCxaoCy7tIGiiZ4CPSdULQw61eU6smCAecKs7VuVaHxdVjKApJ2Qlv
     8WvtrkYDU6AM1+Ui+zDd7J56jlz1aTSVg3X6+2OsRNLWS1GG2478i/60q6dO/MVE
     iSwlX3d0nQKBgG7cIVz3m0gOJNxmnOBXKAeEA7U98IjVB/aSFPa+HpKfjmMdb1G3
     mPMgqaIFIo9tk5IdOiZGoOCPcT2/3CDxNSZW+IfN7GcS1PqyYmNRggmtiENPyn82
     UVgWkzZNNUzPK/D1YE0f6fHTFkxU2M2Wq5v2K34dyCcDBhgZpswQ3IR7AoGAQji0
     f+m/v7ZLoivcCwfmdn1uIWdlBiF9h769EVt4rTgZUIxsomLtgCkAA7zfrK2oD/Xb
     Wcw5YBfO2Ucj7rcpXvQEebukxzaUwsgFok5/aldg9FN43ZPgPHkfMUj9gsau0mCN
     0u8gDUaent5SGbOMo58r/u1N6CWSg01I+7t/feUCgYACeBJUtYtMgEiX1AONL2Gp
     qw2sBoq6AJ7pSzyVS8zTam0UnnlPjQj/YMMhfL6YffJ1JMryRC9xQMqUIEUUTTeO
     DpnMw16t0wPkDhOp1959Lck54Rx8DtM4Lj9NJxZJgCdfOlLJ16G3D2qAieWOKeyI
     pxvtMcNG1kbFWU2/qm64gg==
     -----END PRIVATE KEY-----